:root {
  --ff-maven: 'Maven Pro', sans-serif;
}

*::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-maven);
  font-size: 1.125rem;
  line-height: 1.25;
  color: #222d32;
  text-align: left;
  background-color: #fff;
}

.navbar {
  padding: 32px 0;
}

.container {
  width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.nav-container {
  position: relative;
  z-index: 5;
  min-height: 4rem;
}

.nav-menu {
  width: 745.594px;
  height: 67.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.navbar-icon {
  margin-left: 30px;
}

.navbar-brand {
  display: inline-block;
  padding: 0.5rem 0;
  margin-right: 0;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
  color: #a6685a;
  font-weight: 700;
  max-width: 65vw;
}

.logocontainer {
  display: inline-block;
  position: relative;
}

.navbar-brand-img {
  height: auto;
  max-height: none;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}

#navbar-lang {
  position: absolute;
  z-index: 3;
  top: -1rem;
  right: 20px;
}

#navbar-lang .nav-lang {
  font-weight: bold;
}

a {
  color: #222d32;
  cursor: pointer;
  text-decoration: none;
}

.navbar ul {
  padding-inline-start: 0.8rem;
}

.navbar-nav {
  width: 666.794px;
  margin: 8px 16px 8px 0;
}

.nav-item.nav-primary {
  font-size: 22px;
  letter-spacing: 0.02rem;
  padding: 4px 8px;
  line-height: 27.5px;
}

.nav-branch {
  display: none;
}

/* Main */
.main-text-section {
  margin: 5rem 0;
}

.kredo-signet {
  position: relative;
  height: 0;
}

.kredo-signet::before {
  position: absolute;
  top: 20px;
  content: '';
  width: 275px;
  height: 354px;
  background: url(./images/kredo-signet.png) center/contain no-repeat;
}

.kredo-signet.l::before {
  right: calc(100% + 220px);
}

.mCnt {
  line-height: 1.4;
  margin-bottom: 1.5em;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  line-height: 1;
  font-size: 35.2px;
}

h1 {
  font-weight: 700;
}

.mRow {
  padding-top: 1.5rem;
}

.frame-reservierung {
  min-height: 400px;
}

/* Footer */
#footer-top {
  background-color: #F3EDE5;
  padding: 40px 0 24px;
}

.footer-note {
  margin-right: 4rem;
  flex-basis: 25%;
  flex-grow: 1;
  border-left: 2px solid black;
  padding-left: 30px;
}

.footer-logo {
  flex-basis: 280px;
}

ul {
  list-style: none;
}

#footer {
  padding: 2rem 0;
}

.footer-menu li {
  margin-left: 1rem;
  margin-right: 1.5rem;
  position: relative;
}

.footer-menu li:not(:last-child)::after {
  content: '|';
  position: absolute;
  width: 0.5rem;
  top: 0;
  right: -24px;
  text-align: center;
}